# Allow native build scripts
node-linker=hoisted
auto-install-peers=true
# pnpm-specific
public-hoist-pattern[]=*sharp*
# Allow @tailwindcss/oxide build scripts
allowed-unsafe-builds[]=@tailwindcss/oxide
allowed-unsafe-builds[]=sharp
ignore-scripts=false